.details {
  h3 {
    margin: 1rem 0 2rem 0;
  }
  img {
    width: auto;
    max-height: 400px;
    border-radius: 16px;
    float: left;
    margin: 4px 16px 16px 0;
  }
  p {
    line-height: 22px;
  }
}
