h3 {
  font-size: 28px;
  line-height: 22px;
}

a {
  text-transform: uppercase;
  text-decoration: none;
}

.short-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 3em;
}

.card {
  width: 100%;
  background-color: #4e5163;
  border-radius: 16px;
  padding: 16px;
  min-width: 250px;
}

.list {
  height: 200px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
  }
  img {
    max-width: 30%;
    max-height: 100%;
    border-radius: 16px;
  }
}

.content-wrapper {
  background-color: #4e5163;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  justify-content: space-between;
}

.link-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 32px;
  &:hover {
    opacity: 0.6;
  }
}
